
@media only screen and (max-width:840px) {
    nav .nav-main h1 {
        font-size: 40px;
    }

    nav .nav-main .nav-p {
        font-size: 20px;
    }

    nav .nav-main button {
        width: 230px;
        font-size: 13px;
    }

    nav .nav-main .nav-p-p {
        font-size: 13px;
    }

    nav .nav-right {
        font-size: 12px;
    }

    nav .nav {
        display: flex;
        justify-content: center;
        gap: 50%;
    }

}

@media only screen and (max-width:720px) {
    nav .nav-main h1 {
        font-size: 35px;
    }

    nav .nav-main .nav-p {
        font-size: 17px;
    }

    nav .nav-main button {
        width: 200px;
        font-size: 11px;
    }

    nav .nav-main .nav-p-p {
        font-size: 11px;
    }

    nav .nav-right {
        font-size: 10px;
    }

    .nav {
        display: flex;
        justify-content: center;
        gap: 50%;
    }

}

@media only screen and (max-width:470px) {
    nav {
        text-wrap: wrap;
    }

    nav .nav {
        display: flex;
        justify-content: center;
        gap: 30%;
    }

    nav .nav-main h1 {
        font-size: 25px;
    }

    nav .nav-hero {
        display: flex;
        justify-content: center;
    }

    nav .nav-main .nav-p {
        font-size: 15px;
    }

    nav .nav-main button {
        width: 100px;
        height: 35px;
        font-size: 8px;
    }

    nav .nav-main .nav-p-p {
        font-size: 10px;
    }

    nav .nav-right {
        font-size: 10px;
    }
}

@media only screen and (max-width:300px) {
    nav .nav {
        display: flex;
        justify-content: center;
        gap: 10%;
    }

    nav .nav-hero{
        display: flex;
        justify-content: center;
    }

    nav .nav-main h1{
        font-size: 20px;
    }

    nav .nav-main .nav-p{
        font-size: 12px;
    }

    nav .nav-main button{
        width: 200px;
    }

    nav .nav-main .nav-p-p{
        font-size: 7px;
    }
}